*{
box-sizing: border-box;
}
.card{
    width: 16vw;
    height: 290px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    border-radius: 8px;
}
.card img.card-image {
    width: 100%;
    height: 45%; /* Maintain aspect ratio */
  }
.stack{
    width: 85vw;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
 .times{
   text-align: start;
   margin-right: 18px;
  height: 55%;
}

